In [1]:
import pandas as pd
import numpy as np

In [191]:
url = r'E:\AI Lead Tech\Pandas\flights.csv'
# load the data
flight = pd.read_csv(url)
flight.head()

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.00,94.00,590,1905,65.00,0,0
1,1,1,4,UA,DEN,IAD,823,7.00,154.00,1452,1333,-13.00,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.00,85.00,641,1453,35.00,0,0
3,1,1,4,AA,DFW,DCA,1555,7.00,126.00,1192,1935,-7.00,0,0
4,1,1,4,WN,LAX,MCI,1720,48.00,166.00,1363,2225,39.00,0,0

In [192]:
## Finding the number of canceled flights for every airline per weekday

# Group by needs to be used on airline and weekday and total count of cancelled
# flights need to be calculated after that.

################ SOLUTION 1 ##############################
# Step 1 : Filter on CANCELLED column for the value 1 as we need to know the count
# of cancelled flights

flight1=flight[flight['CANCELLED']==1]

# Step 2: Group by on above dataframe on AIRLINE and WEEKDAY as asked in the quesiton.
# and count on CANCELLED column.

flight1.groupby(['AIRLINE','WEEKDAY'])["CANCELLED"].count()

AIRLINE  WEEKDAY
AA       1          41
         2           9
         3          16
         4          20
         5          18
         6          21
         7          29
B6       2           1
DL       1          10
         2           8
         3           8
         4           3
         5           3
         6           4
         7           2
EV       1          30
         2          21
         3          20
         4          22
         5          11
         6          16
         7          26
F9       1           3
         2           1
         5           1
         6           2
         7           3
MQ       1          44
         2          17
         3          13
                    ..
OO       3          14
         4          13
         5          25
         6          20
         7          29
UA       1          23
         2          20
         3           9
         4           9
         5          12
         6           6
         7          14
US       1           6
         2           4
         3           1
         4           1
         5           2
         6           1
         7           6
VX       1           1
         4           2
         5           1
         7           2
WN       1          16
         2          25
         3          18
         4          10
         5           7
         6          10
         7           7
Name: CANCELLED, Length: 73, dtype: int64

In [193]:
## Question 2: Finding the number and percentage of cancelled and diverted flights
## for every airline per weekday

## Answer  - Part 1- Diverted Flights number and % numbers for the same.

flight.head()

# flight_delayed : Only those Rows where flights got diverted i.e. DIVERTED > 0
flight_delayed = flight[flight['DIVERTED']>0]


# Diverted SUM: using above DataFrame to know the count.
count_diverted = flight_delayed.groupby(['AIRLINE','WEEKDAY']).agg ({'DIVERTED':'count'})
#print(count_diverted)

#Filling 0 in place of NaN vaues
count_diverted['DIVERTED']=count_diverted['DIVERTED'].fillna(0)

# Total count to know the % Diverted flights
count_total = flight.groupby(['AIRLINE','WEEKDAY']).agg({'DIVERTED':'count'})
#print(count_total.head())

# Dividing two DataFrames to know the %.
percent_division = count_diverted.div(count_total)*100

# Filling 0 for all NaN values in the Diverted column
percent_division['DIVERTED'] = percent_division['DIVERTED'].fillna(0)

# Showing % sign in the 5 values and 2 decimal points.
pd.set_option('display.float_format','{:.2f}%'.format)

# Renaming the column name to show the % Diverted
percent_division.rename(columns={'DIVERTED': '% DIVERTED'},inplace=True)
#print(percent_division)

# Adding one more column to show the numerical value of the diverted flights too.
percent_division['DIVERTED'] =  count_diverted['DIVERTED']
# Filling 0 in place of NaN.
percent_division['DIVERTED'] = percent_division['DIVERTED'].fillna(0)

# Converting float to int by .apply(int) function.
percent_division['DIVERTED'] = percent_division['DIVERTED'].apply(int)

# Reordering of both the columns - First number then %.
percent_division = percent_division[['DIVERTED','% DIVERTED']]

print(percent_division)

                 DIVERTED  % DIVERTED
AIRLINE WEEKDAY
AA      1               6       0.47%
        2               2       0.16%
        3               2       0.15%
        4               5       0.38%
        5               1       0.08%
        6               9       0.80%
        7               1       0.08%
AS      1               0       0.00%
        2               0       0.00%
        3               0       0.00%
        4               0       0.00%
        5               0       0.00%
        6               0       0.00%
        7               0       0.00%
B6      1               0       0.00%
        2               0       0.00%
        3               0       0.00%
        4               0       0.00%
        5               0       0.00%
        6               1       1.67%
        7               1       1.14%
DL      1               2       0.12%
        2               5       0.33%
        3               4       0.26%
        4               2       0.13%
        5               3       0.20%
        6               4       0.32%
        7               4       0.26%
EV      1               3       0.34%
        2               3       0.34%
...                   ...         ...
OO      6               2       0.24%
        7               3       0.32%
UA      1               4       0.33%
        2               2       0.17%
        3               2       0.17%
        4               3       0.26%
        5               2       0.17%
        6               2       0.22%
        7               4       0.39%
US      1               0       0.00%
        2               0       0.00%
        3               0       0.00%
        4               1       0.40%
        5               0       0.00%
        6               0       0.00%
        7               0       0.00%
VX      1               0       0.00%
        2               0       0.00%
        3               0       0.00%
        4               0       0.00%
        5               0       0.00%
        6               0       0.00%
        7               1       0.74%
WN      1               3       0.24%
        2               0       0.00%
        3               2       0.16%
        4               4       0.32%
        5               0       0.00%
        6               3       0.30%
        7               3       0.26%

[98 rows x 2 columns]

In [194]:
## Answer 2 - Part 2- Cancelled Flights number and % numbers for the same.

flight.head()

# flight_can : Only those Rows where flights got diverted i.e. DIVERTED > 0
flight_can = flight[flight['CANCELLED']>0]
# Cancelled SUM: using above DataFrame to know the count.
count_can = flight_can.groupby(['AIRLINE','WEEKDAY']).agg ({'CANCELLED':'count'})
#print(count_can)
#Filling 0 in place of NaN vaues
count_can['CANCELLED']=count_can['CANCELLED'].fillna(0)

# Total count to know the % Diverted flights
count_total = flight.groupby(['AIRLINE','WEEKDAY']).agg({'CANCELLED':'count'})
#print(count_total)
# Dividing two DataFrames to know the %.
percent_division = count_can.div(count_total)*100
# Filling 0 for all NaN values in the Diverted column
percent_division['CANCELLED'] = percent_division['CANCELLED'].fillna(0)
# Showing % sign in the 5 values and 2 decimal points.
pd.set_option('display.float_format','{:.2f}%'.format)
# Renaming the column name to show the % Diverted
percent_division.rename(columns={'CANCELLED': '% CANCELLED'},inplace=True)
#print(percent_division)
# Adding one more column to show the numerical value of the diverted flights too.
percent_division['CANCELLED'] =  count_can['CANCELLED']
# Filling 0 in place of NaN.
percent_division['CANCELLED'] = percent_division['CANCELLED'].fillna(0)
# Converting float to int by .apply(int) function.
percent_division['CANCELLED'] = percent_division['CANCELLED'].apply(int)

# Reordering of both the columns - First number then %.
percent_division = percent_division[['CANCELLED','% CANCELLED']]

print(percent_division)

                 CANCELLED  % CANCELLED
AIRLINE WEEKDAY
AA      1               41        3.21%
        2                9        0.73%
        3               16        1.19%
        4               20        1.50%
        5               18        1.42%
        6               21        1.87%
        7               29        2.18%
AS      1                0        0.00%
        2                0        0.00%
        3                0        0.00%
        4                0        0.00%
        5                0        0.00%
        6                0        0.00%
        7                0        0.00%
B6      1                0        0.00%
        2                1        1.27%
        3                0        0.00%
        4                0        0.00%
        5                0        0.00%
        6                0        0.00%
        7                0        0.00%
DL      1               10        0.61%
        2                8        0.52%
        3                8        0.51%
        4                3        0.19%
        5                3        0.20%
        6                4        0.32%
        7                2        0.13%
EV      1               30        3.41%
        2               21        2.39%
...                    ...          ...
OO      6               20        2.41%
        7               29        3.14%
UA      1               23        1.89%
        2               20        1.75%
        3                9        0.78%
        4                9        0.77%
        5               12        1.02%
        6                6        0.67%
        7               14        1.35%
US      1                6        2.69%
        2                4        1.80%
        3                1        0.45%
        4                1        0.40%
        5                2        0.90%
        6                1        0.47%
        7                6        2.28%
VX      1                1        0.72%
        2                0        0.00%
        3                0        0.00%
        4                2        1.42%
        5                1        0.67%
        6                0        0.00%
        7                2        1.48%
WN      1               16        1.27%
        2               25        1.96%
        3               18        1.41%
        4               10        0.79%
        5                7        0.58%
        6               10        1.01%
        7                7        0.61%

[98 rows x 2 columns]

In [195]:
## Part 1 - Question 3
##For each origin and destination, 
## 1) finding the total number of flights.
## 2) the number and percentage of canceled flights. 
## 3) and the average and variance of the airtime


flight.head()
count_org_dest= flight.groupby(['ORG_AIR','DEST_AIR']).agg({'AIRLINE':'count'})
#Answer 1 Total no of flights b/w org and destination airlines
#print(count_org_dest)

# find the cancelled flights b/w two airports.
flight_can = flight[flight['CANCELLED']>0]
# Cancelled SUM: using above DataFrame to know the count.
count_can = flight_can.groupby(['ORG_AIR','DEST_AIR']).agg({'CANCELLED':'count'})
#print(count_can)

division = count_can['CANCELLED']/count_org_dest['AIRLINE']*100
division
answer2 = division.dropna()
answer2

answer2=answer2.reset_index(name='% Cancelled')
#ASNWER 2:: % cancelled flights b/w org and dest.
answer2


#answer2['CANCELLED']
#division['CANCELLED'] = division['CANCELLED'].fillna(0)

    ORG_AIR DEST_AIR  % Cancelled
0       ATL      BDL        1.45%
1       ATL      BHM        1.16%
2       ATL      BOS        1.38%
3       ATL      CHA        1.33%
4       ATL      CLE        1.09%
5       ATL      DAY        1.82%
6       ATL      DCA        1.20%
7       ATL      DEN        0.71%
8       ATL      DFW        2.48%
9       ATL      EVV        3.57%
10      ATL      EWR        1.54%
11      ATL      FAY        1.92%
12      ATL      GNV        1.45%
13      ATL      GSP        1.15%
14      ATL      GTR        4.00%
15      ATL      HOU        2.29%
16      ATL      HPN        3.51%
17      ATL      IAD        1.28%
18      ATL      ICT        3.57%
19      ATL      JFK        1.59%
20      ATL      LAS        0.74%
21      ATL      LEX        3.03%
22      ATL      LGA        3.30%
23      ATL      LNK       12.50%
24      ATL      MCO        0.71%
25      ATL      MDW        1.49%
26      ATL      MEM        1.18%
27      ATL      MIA        0.72%
28      ATL      MLU        2.78%
29      ATL      MOB        1.59%
..      ...      ...          ...
408     SFO      DFW        0.72%
409     SFO      EUG        4.08%
410     SFO      EWR        1.91%
411     SFO      FAT        8.33%
412     SFO      HNL        1.72%
413     SFO      IAD        1.03%
414     SFO      IAH        2.17%
415     SFO      JFK        1.59%
416     SFO      LAS        0.39%
417     SFO      LAX        4.39%
418     SFO      MCO        4.76%
419     SFO      MFR        3.57%
420     SFO      MRY       14.29%
421     SFO      MSP        1.39%
422     SFO      ONT        1.41%
423     SFO      ORD        0.94%
424     SFO      OTH       25.00%
425     SFO      PHL        3.23%
426     SFO      PHX        1.52%
427     SFO      PSC       16.67%
428     SFO      PSP        1.52%
429     SFO      RDD        8.70%
430     SFO      RDM        5.00%
431     SFO      SAN        4.00%
432     SFO      SBA        1.52%
433     SFO      SEA        0.96%
434     SFO      SLC        0.88%
435     SFO      SMF        3.39%
436     SFO      SMX        7.14%
437     SFO      SNA        3.28%

[438 rows x 3 columns]

In [198]:
#Set 1- Question3 - part 3(a)
count_org_dest= flight.groupby(['ORG_AIR','DEST_AIR']).agg({'AIR_TIME':'var'})
count_org_dest
a=count_org_dest.reset_index()
a.rename(columns={'AIR_TIME':'Variance'},inplace=True)
pd.set_option('display.float_format','{:.2f}'.format)
a

     ORG_AIR DEST_AIR  Variance
0        ATL      ABE     45.78
1        ATL      ABQ     87.87
2        ATL      ABY      6.59
3        ATL      ACY     11.47
4        ATL      AEX     47.33
5        ATL      AGS      9.39
6        ATL      ALB     41.90
7        ATL      ANC     40.50
8        ATL      ASE       nan
9        ATL      ATW     61.38
10       ATL      AUS    110.13
11       ATL      AVL     10.17
12       ATL      AVP     28.34
13       ATL      BDL     38.91
14       ATL      BHM     23.64
15       ATL      BMI    133.29
16       ATL      BNA      5.65
17       ATL      BOS     66.99
18       ATL      BQK     10.10
19       ATL      BTR     24.75
20       ATL      BTV     39.41
21       ATL      BUF     16.17
22       ATL      BWI     37.04
23       ATL      BZN       nan
24       ATL      CAE      6.19
25       ATL      CAK     28.40
26       ATL      CHA     19.67
27       ATL      CHO     25.25
28       ATL      CHS     71.23
29       ATL      CID     76.03
...      ...      ...       ...
1100     SFO      MSP    130.95
1101     SFO      MSY     93.00
1102     SFO      OGG    163.19
1103     SFO      OKC     92.01
1104     SFO      ONT     12.51
1105     SFO      ORD    101.60
1106     SFO      OTH     33.37
1107     SFO      PDX     30.28
1108     SFO      PHL     95.80
1109     SFO      PHX     29.39
1110     SFO      PIT     76.20
1111     SFO      PSC     19.70
1112     SFO      PSP     17.59
1113     SFO      RDD     28.86
1114     SFO      RDM     36.58
1115     SFO      RDU    110.51
1116     SFO      RNO      4.90
1117     SFO      SAN     17.67
1118     SFO      SAT    116.57
1119     SFO      SBA     32.46
1120     SFO      SBP     29.19
1121     SFO      SEA     42.99
1122     SFO      SLC     23.38
1123     SFO      SMF      8.73
1124     SFO      SMX      3.64
1125     SFO      SNA     11.34
1126     SFO      STL    101.04
1127     SFO      SUN     25.78
1128     SFO      TUS     35.22
1129     SFO      XNA      0.50

[1130 rows x 3 columns]

In [199]:
#Set 1- Question3 - part 3(a) - mean
count_org_dest= flight.groupby(['ORG_AIR','DEST_AIR']).agg({'AIR_TIME':'mean'})
count_org_dest
a=count_org_dest.reset_index()
a.rename(columns={'AIR_TIME':'Mean'},inplace=True)
pd.set_option('display.float_format','{:.2f}'.format)
a

     ORG_AIR DEST_AIR   Mean
0        ATL      ABE  96.39
1        ATL      ABQ 170.50
2        ATL      ABY  28.58
3        ATL      ACY  91.33
4        ATL      AEX  78.72
5        ATL      AGS  28.82
6        ATL      ALB 108.18
7        ATL      ANC 438.50
8        ATL      ASE 192.00
9        ATL      ATW 106.40
10       ATL      AUS 117.57
11       ATL      AVL  33.89
12       ATL      AVP  94.21
13       ATL      BDL 109.75
14       ATL      BHM  28.80
15       ATL      BMI  80.10
16       ATL      BNA  38.57
17       ATL      BOS 120.78
18       ATL      BQK  41.38
19       ATL      BTR  69.62
20       ATL      BTV 116.79
21       ATL      BUF  93.21
22       ATL      BWI  80.54
23       ATL      BZN 219.00
24       ATL      CAE  33.40
25       ATL      CAK  72.96
26       ATL      CHA  24.12
27       ATL      CHO  66.93
28       ATL      CHS  42.94
29       ATL      CID  99.48
...      ...      ...    ...
1100     SFO      MSP 189.38
1101     SFO      MSY 209.00
1102     SFO      OGG 299.88
1103     SFO      OKC 162.30
1104     SFO      ONT  60.04
1105     SFO      ORD 216.21
1106     SFO      OTH  69.17
1107     SFO      PDX  78.83
1108     SFO      PHL 287.63
1109     SFO      PHX  91.18
1110     SFO      PIT 256.20
1111     SFO      PSC  78.80
1112     SFO      PSP  63.23
1113     SFO      RDD  37.81
1114     SFO      RDM  67.84
1115     SFO      RDU 275.59
1116     SFO      RNO  34.06
1117     SFO      SAN  69.05
1118     SFO      SAT 172.17
1119     SFO      SBA  47.62
1120     SFO      SBP  42.32
1121     SFO      SEA  96.50
1122     SFO      SLC  81.34
1123     SFO      SMF  21.05
1124     SFO      SMX  40.85
1125     SFO      SNA  64.06
1126     SFO      STL 198.90
1127     SFO      SUN  78.00
1128     SFO      TUS 100.20
1129     SFO      XNA 173.50

[1130 rows x 3 columns]

In [200]:
## Question 2:
## Covid_Dataset:


url = r'E:\AI Lead Tech\Pandas\covid_subset-1.txt'
# load the data
covid = pd.read_csv(url,parse_dates=['date'])
# Answer 1 - Data has been loaded.
covid.head()

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
0,AFG,Asia,Afghanistan,2019-12-31,0.00,0.00,0.00,0.00,0.00,0.00,...,1.34,1803.99,nan,597.03,9.59,nan,nan,37.75,0.50,64.83
1,AFG,Asia,Afghanistan,2020-01-01,0.00,0.00,0.00,0.00,0.00,0.00,...,1.34,1803.99,nan,597.03,9.59,nan,nan,37.75,0.50,64.83
2,AFG,Asia,Afghanistan,2020-01-02,0.00,0.00,0.00,0.00,0.00,0.00,...,1.34,1803.99,nan,597.03,9.59,nan,nan,37.75,0.50,64.83
3,AFG,Asia,Afghanistan,2020-01-03,0.00,0.00,0.00,0.00,0.00,0.00,...,1.34,1803.99,nan,597.03,9.59,nan,nan,37.75,0.50,64.83
4,AFG,Asia,Afghanistan,2020-01-04,0.00,0.00,0.00,0.00,0.00,0.00,...,1.34,1803.99,nan,597.03,9.59,nan,nan,37.75,0.50,64.83

In [160]:
## Asnwer 2: Dimension of covid file
covid.shape

(205, 36)

In [171]:
## Answer 3:

new_covid = covid[['continent','location','total_cases','total_deaths','gdp_per_capita','tests_per_case', 
                   'life_expectancy','female_smokers', 'male_smokers', 'diabetes_prevalence']]
new_covid.head()

,continent,location,total_cases,total_deaths,gdp_per_capita,tests_per_case,life_expectancy,female_smokers,male_smokers,diabetes_prevalence
0,Asia,Afghanistan,0.00,0.00,1803.99,nan,64.83,nan,nan,9.59
1,Asia,Afghanistan,0.00,0.00,1803.99,nan,64.83,nan,nan,9.59
2,Asia,Afghanistan,0.00,0.00,1803.99,nan,64.83,nan,nan,9.59
3,Asia,Afghanistan,0.00,0.00,1803.99,nan,64.83,nan,nan,9.59
4,Asia,Afghanistan,0.00,0.00,1803.99,nan,64.83,nan,nan,9.59

In [168]:
## Answer 4:
new_covid.isna().sum()

continent                0
location                 0
total_cases              0
total_deaths             0
gdp_per_capita           0
tests_per_case         205
life_expectancy          0
female_smokers         205
male_smokers           205
diabetes_prevalence      0
dtype: int64

## Answer 5:
## As there is only one continent given and one country, we cannot do anything here.
## we cannot get the mean,median etc to place that for the missing values.
## Some problem in the dataset

In [174]:
## Asnwer 6:
max_death=covid.groupby(['continent']).agg({'total_cases':'max', 'total_deaths':'max'})
max_death

           total_cases  total_deaths
continent
Asia          36710.00       1283.00

In [176]:
## Answer 7:

max_death_country=covid.groupby(['location']).agg({'total_deaths':'max'})
max_death_country

             total_deaths
location
Afghanistan       1283.00

In [190]:
## ASnwer 8:
from datetime import date
from datetime import datetime
#covid['date']=pd.datetime(covid['date'],format="%m/%d/%Y")
covid.info()
#It is exactly same as answer 6

# Data is missing.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 36 columns):
iso_code                           205 non-null object
continent                          205 non-null object
location                           205 non-null object
date                               205 non-null datetime64[ns]
total_cases                        205 non-null float64
new_cases                          205 non-null float64
total_deaths                       205 non-null float64
new_deaths                         205 non-null float64
total_cases_per_million            205 non-null float64
new_cases_per_million              205 non-null float64
total_deaths_per_million           205 non-null float64
new_deaths_per_million             205 non-null float64
new_tests                          0 non-null float64
total_tests                        0 non-null float64
total_tests_per_thousand           0 non-null float64
new_tests_per_thousand             0 non-null float64
new_tests_smoothed                 0 non-null float64
new_tests_smoothed_per_thousand    0 non-null float64
tests_per_case                     0 non-null float64
positive_rate                      0 non-null float64
tests_units                        0 non-null float64
stringency_index                   204 non-null float64
population                         205 non-null float64
population_density                 205 non-null float64
median_age                         205 non-null float64
aged_65_older                      205 non-null float64
aged_70_older                      205 non-null float64
gdp_per_capita                     205 non-null float64
extreme_poverty                    0 non-null float64
cardiovasc_death_rate              205 non-null float64
diabetes_prevalence                205 non-null float64
female_smokers                     0 non-null float64
male_smokers                       0 non-null float64
handwashing_facilities             205 non-null float64
hospital_beds_per_thousand         205 non-null float64
life_expectancy                    205 non-null float64
dtypes: datetime64[ns](1), float64(32), object(3)
memory usage: 57.7+ KB